.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}


.app_container{
  margin-top: 10px;
  width: 500px;
  height: 500px;
  border: 1px solid #000;
}

.app_input{
  margin-top: 10px;
}


.css-x19aeh-control{
  background-color: transparent!important;
  
}

.css-qc6sy-singleValue{
  color: #e3e1e1!important;
}